# Environment & Keys (Strictly Private)
.env
.env.local
.env.*.local

# Python
*.pyc
__pycache__/
.venv/
venv/
*.egg-info/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Archives & Temp
*.zip
temp_extract/
